@charset "UTF-8";
/*resetCSS*/
html, h1, h2, h3, h4,
ul, ol, dl, li, dt, dd, p, div, span,
img, a, table, tr, th, td, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

html{
  scroll-behavior: smooth;
}

body {
  position: relative;
  /* color: beige; */
}


/* ここからヘッダー */
.header {
  display: flex;
  height: 550px;
  width: 100%;
  background-size: cover;
  background-image: url(img/index-img2.png);
  /* background-size: cover; */
}
.logo{
  margin-bottom: .5rem;
  /* font-size: 50px; */
  font-weight: 500;
  color: white;
  margin: auto;
}
.logo-title{
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  color: rgb(51, 50, 50);
  line-height: 1;
  letter-spacing: -2px;
}
.logo-desc{
  display: block;
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  color: rgb(51, 50, 50);
}


/* ここからヘッダー下ナブバー */
.nav-container{
  display: flex;
  justify-content: center;
  font-family: 'Open sans', sans-serif;
  z-index: 100;
  background-color: rgb(80, 79, 77);
  
}
.nav-box{
  display: flex;
  margin-top: 10px;
}
.navitem{
  font-weight: bold;
  padding: 0 40px;
  list-style: none;
  font-size: 25px;
}
.navlink{
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  color: #fff;
}


main{
  text-align: center;
  background-color: rgb(223, 219, 211);
}
/* ここからプロフィール */
.inner{
  padding: 80px 10px 10px 0px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.profile-box{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
}
.section-title-block{
  text-align: center;
}
.section-title{
  font-family: 'Oswald', sans-serif;
  letter-spacing: -0.01em;
  display: inline-block;
  font-size: 56px;
  color: #444;
  width: 80%;
}
.section-title-css{
  font-weight: bold;
}
.column-wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  background-color: #fff;
}
.column-image-profile{
  width: 33%;
}

.img-profile{
  width: 220px;
  height: 220px;
  border-radius: 30px;
  margin: 20px 0 20px 0px;
}
.column-desc1{
  width: 50%;
  border: solid 1px black;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  text-align: left;
}
.column-desc2{
  width: 70%;
  border: solid 1px black;
  margin-left: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  text-align: left;
}
.text-title{
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}

/* ここから作品集 */
.works-box{
  background-color: #fff;
  padding: 50px 30px 30px 30px;
  /* padding-bottom: 50px; */
}
.card-wrapper {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  margin-bottom: 50px;
  width: 32%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.works-image-portfolio{
  height: 200px;
  background-size: cover;
  background-image: url(img/portfolio2.jpg);
}
.works-image-collecolle{
  height: 200px;
  background-size: cover;
  background-image: url(img/collecolleアプリ写真.jpg);
}
.works-image-fulima{
  height: 200px;
  background-size: cover;
  background-image: url(img/フリマ写真.jpg);
}


/* ここからスキル */
.skill-box{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}
.section-title-block{
}
.card-wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.skill-desc{
  flex-basis: calc(100% - 75px - 30px);
  text-align: center;
}


/* ここからコンタクト */
.contact-inner{
  padding: 80px 10px 80px 0px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.contact-box{
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}
textarea{
  width: 200px;
}
.contact-submit{

}


/* フッター */
footer{
  background-color: #333;
  bottom: 0;
  text-align: center;
}
.footerlink{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.footerul{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.footerlist{
  font-size: 15px;
  padding: 0 20px;
  color: #fff;
}
.copyright{
  color: #fff;
  font-size: 10px;
  margin-bottom: 0;
}
